<html>

<body>
  <h2>Edit Score</h2>
  <form [formGroup]="editscoreFormGroup">
    <table>
      <tr>
        <td> Score Knowledge: </td>
        <td><input type="number" formControlName="knowledge"></td>
      </tr>
      <tr>
        <td> Score Proactiveness: </td>
        <td><input type="number" formControlName="proactive"></td>
      </tr>
      <tr>
        <td> Score Task: </td>
        <td><input type="number" formControlName="task"></td>
      </tr>
    </table>
  </form>
</body>

</html>
